@model ProductosModel
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Compras">
                <i class="bi bi-grid"></i>
                <span>Compras</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Productos">
                <i class="bi bi-grid"></i>
                <span>Productos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Categorias">
                <i class="bi bi-grid"></i>
                <span>Categorías</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Proveedores">
                <i class="bi bi-grid"></i>
                <span>Proveedores</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main" style="margin-left:3%; margin-right:3%">
    <br />
    <h2 style="margin-left:4%">Lista de Productos</h2>
    <div class="text-center">
        @using (Html.BeginForm("Buscar","Productos"))
        {
                    <h4>Buscar producto: </h4> @Html.TextBox("buscar",null) <input type="submit" name="name" value="Buscar" />
        }

        <a href="/Productos/AgregarProducto">  <button type="button" class="btn btn-primary" style="position:absolute; margin-left:400px;">Añadir Producto</button>  </a>
        <br />
        <br />
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Stock</th>
                        <th>Inventario</th>
                        <th>Peso</th>
                        <th>Precio de Venta</th>
                        <th>Precio de Compra</th>
                        <th>Descuento</th>
                        <th>Id Categoria</th>
                    </tr>
                </thead>
                @{
                    //Validacion para verificar que el ViewBag tenga datos
                    if (ViewBag.Productos != null)
                    {
                        //Generar las filas por cada producto de la tabla
                        foreach (var item in ViewBag.Productos)
                        {
                            <tr>
                                <td>@item.Id_producto</td>
                                <td>@item.Nombre</td>
                                <td>@item.Marca</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Imagen</td>
                                <td>@item.Stock</td>
                                <td>@item.Inventario</td>
                                <td>@item.Peso</td>
                                <td>@item.PrecioVenta</td>
                                <td>@item.PrecioCompra</td>
                                <td>@item.Descuento</td>
                                <td>@item.Id_categoria</td>

                                <td>
                                    <a asp-action="EditarProductos" class="btn btn-warning" asp-route-id="@item.Id_producto">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="EliminarProductos" class="btn btn-danger" asp-route-id="@item.Id_producto">Delete</a>
                                </td>
                                <td>
                                    <a asp-action="ComprarProductos" class="btn btn-secondary" asp-route-id="@item.Id_producto">Comprar</a>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</main>

@*
    <main id="main" class="main">
    <br />
    <h2>Productos</h2>
    <input type="search" class="search" style="margin-left:300px" placeholder="Buscar" />
    <button type="button" class="btn btn-primary" style="position:absolute; margin-left:400px;">Añadir Producto</button>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Descripción</th>
                <th>En Stock</th>
                <th>En Inventario</th>
                <th>Peso (kg)</th>
                <th>Precio (mx)</th>
                <th>Descuento</th>
                <th>Categoría</th>
                <th></th> <!-- Columna para el botón Comprar -->
                <th></th> <!-- Columna para el botón Editar-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Croqueta Ganador Adulto</td>
                <td>Ganador</td>
                <td>Hechas con proteinas de la más alta calidad....</td>
                <td>36</td>
                <td>42</td>
                <td>25</td>
                <td>915.00</td>
                <td>0.00</td>
                <td>Croquetas perros adultos</td>
                <td><button type="button" class="btn btn-primary" href="/Compras/HacerCompra">Comprar</button></td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alimento croqueta Campeón</td>
                <td>Campeón</td>
                <td>Alimento seco ideal para consentir a tu perro...</td>
                <td>25</td>
                <td>32</td>
                <td>25</td>
                <td>1299.60</td>
                <td>0.10</td>
                <td>Croquetas perros cachorro</td>
                <td><button type="button" class="btn btn-primary">Comprar</button></td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
        </tbody>
    </table>
</main>
*@