@model ComprasModel
@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Compras">
                <i class="bi bi-grid"></i>
                <span>Compras</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Productos">
                <i class="bi bi-grid"></i>
                <span>Productos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Categorias">
                <i class="bi bi-grid"></i>
                <span>Categorías</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Proveedores">
                <i class="bi bi-grid"></i>
                <span>Proveedores</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main" style="margin-left:10%">
    <br />
    <h2 style="margin-left:4%">Registros de compras</h2>
    <div class="text-center">
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th><a asp-controller="Compras" asp-action="ComprasFecha"> Fecha de compra  </a></th>
                        <th>Direccion de envio</th>
                        <th>Fecha de entrega</th>
                        <th>Cantidad de articulos</th>
                        <th>Forma de pago</th>
                        <th>Precio del articulo</th>
                        <th><a asp-controller="Compras" asp-action="ComprasTotal">Total de Compra </a></th>
                        <th>Numero de autorizacion</th>
                        <th>Id Empleado</th>
                        <!--th>Id Producto</th-->
                        <!--th>Id Proveedor</th-->
                        <th>Nombre Producto</th>
                        <th>Nombre Proveedor</th>
                    </tr>
                </thead>
                @{
                    //Validacion para verificar que el ViewBag tenga datos
                    if (ViewBag.Compras != null)
                    {
                        //Generar las filas por cada compra de la tabla
                        foreach (var item in ViewBag.Compras)
                        {
                            <tr>
                                <td>@item.Id_compra</td>
                                <td>@item.FechaCompra </td>
                                <td>@item.DireccionEnvio </td>
                                <td>@item.FechaEntrega </td>
                                <td>@item.CantidadArticulos </td>
                                <td>@item.FormaPago  </td>
                                <td>@item.PrecioArticulo  </td>
                                <td>@item.TotalCompra  </td>
                                <td>@item.NumAutorizacion </td>
                                <td>@item.Id_empleado  </td>
                                <!--td>@item.Id_producto  </td-->
                                <!--td>@item.Id_proveedor  </td-->
                                <td>@item.NombreProducto  </td>
                                <td>@item.NombreProveedor  </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>

</main>

@*
<main id="main" class="main">
    <br />
    <h2>Compras</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha y hora de compra</th>
                <th>Dirección de envío</th>
                <th>Fecha y hora de entrega</th>
                <th>Cantidad de articulos</th>
                <th>Forma de pago</th>
                <th>Precio Articulo</th>
                <th>Total de la compra</th>
                <th>Comprador</th>
                <th>Producto</th>
                <th>Proveedor</th>
                <th></th> <!-- Columna para el botón -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>06/09/22 17:12:33</td>
                <td>Los heroes #124</td>
                <td>09/09/22 09:24:04</td>
                <td>17</td>
                <td>Paypal</td>
                <td>500.00</td>
                <td>8500.00</td>
                <td>Antonio Glez</td>
                <td>Croqueta Ganador Adulto</td>
                <td>Alimentos para mascotas MX</td>
            </tr>
            <tr>
                <td>2</td>
                <td>07/09/22  12:03:20</td>
                <td>Los heroes #124</td>
                <td>15/09/22  16:04:00</td>
                <td>40</td>
                <td>Transferencia</td>
                <td>800.00</td>
                <td>32000.00</td>
                <td>Angelica Ruiz</td>
                <td>Alimento Croqueta Campeón</td>
                <td>Purina</td>
            </tr>
        </tbody>
    </table>
</main>
*@