@model CategoriasModel
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Compras">
                <i class="bi bi-grid"></i>
                <span>Compras</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Productos">
                <i class="bi bi-grid"></i>
                <span>Productos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Categorias">
                <i class="bi bi-grid"></i>
                <span>Categorías</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Compras/Proveedores">
                <i class="bi bi-grid"></i>
                <span>Proveedores</span>
            </a>
        </li>
    </ul>
</aside>

<main id="main" class="main" style="margin-left:3%">
    <br />
    <h2 style="margin-left:3%">Categorias</h2>
    <div class="text-center">
        <a href="/Categorias/AgregarCategorias">  <button type="button" class="btn btn-primary" style="position:absolute; margin-left:400px;">Añadir Categoria</button>  </a>
        <br />
        <br />
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                @{
                    //Validacion para verificar que el ViewBag tenga datos
                    if (ViewBag.Categorias != null)
                    {
                        //Generar las filas por cada compra de la tabla
                        foreach (var item in ViewBag.Categorias)
                        {
                            <tr>
                                <td>@item.Id_categoria</td>
                                <td>@item.Nombre </td>
                                <td>@item.Descripcion </td>

                                <td>
                                    <a asp-action="EditarCategorias" class="btn btn-warning" asp-route-id="@item.Id_categoria">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="EliminarCategorias" class="btn btn-danger" asp-route-id="@item.Id_categoria">Delete</a>
                                </td>
                            </tr>


                        }
                    }
                }
            </table>
        </div>
    </div>
</main>

@*
<main id="main" class="main">
    <br />
    <h2>Categorías</h2>
    <button type="button" class="btn btn-primary" style="position:absolute; margin-left:800px;">Añadir Categoría</button>
    <br /> <br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th></th> <!-- Columna para el botón Editar-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Croqueta Perros Adultos</td>
                <td>Bolsas y costales de croquetas para perros mayores a 1 año de edad</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Croqueta Perros Chachorros</td>
                <td>Bolsas y costales de croquetas para perros menores a 1 año de edad</td>
                <td><button type="button" class="btn btn-primary">Editar</button></td>
            </tr>
        </tbody>
    </table>
</main>
*@