@using TodoParaTuPerro.Models;
@model TodoParaTuPerro.Models.PedidosPaqueteriaModel;

@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="Pedidos">
                <i class="bi bi-grid"></i>
                <span>Pedidos sin enviar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="PedidosEnviados">
                <i class="bi bi-grid"></i>
                <span>Pedidos enviados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="PedidosCompletados">
                <i class="bi bi-grid"></i>
                <span>Pedidos completados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="Paqueterias">
                <i class="bi bi-grid"></i>
                <span>Paqueterías</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main">
    <div class="container">
        <h1 class="text-center mt-4">Pedidos no enviados</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">No. de pedido</th>
                    <th scope="col">Fecha del pedido</th>
                    <th scope="col">No. de guía</th>
                    <th scope="col">Paquetería</th>
                    <th scope="col">Fecha de envío</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model.ListaPedidos)
                {
                    <tr>
                        <td>@pedido.IdPedido</td>
                        <td>@pedido.FechaPedido</td>
                        <td>@pedido.NoGuia</td>
                        <td>@pedido.Paqueteria</td>
                        <td>@pedido.FechaEnvio</td>
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal"
                                    data-id="@pedido.IdPedido" data-fecha="@pedido.FechaPedido" data-guia="@pedido.NoGuia" onclick="abrirModalEditar(this)">
                                Editar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Información</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="ActualizarGuia">
                            <div class="mb-3">
                                <label for="pedidoId" class="form-label">No. de pedido:</label>
                                <input id="pedidoId" name="IdPedido" hidden>
                                <h6 id="pedidoIdh6"></h6>
                            </div>
                            <div class="mb-3">
                                <label for="fechaPedido" class="form-label">Fecha del pedido:</label>
                                <input id="fechaPedido" name="FechaPedido" hidden/>
                                <h6 id="fechaPedidoh6"></h6>
                            </div>
                            <div class="mb-3">
                                <label for="guiaInput" class="form-label">No. de guía:</label>
                                <input type="text" class="form-control" id="guiaInput" name="NoGuia">
                                <span id="errorGuia"></span>
                            </div>
                            <div class="mb-3">
                                <label for="paqueteriaSelect" class="form-label">Paquetería:</label>
                                <select class="form-select" id="paqueteriaSelect" name="Paqueteria">
                                    @foreach(var paqueteria in Model.ListaPaqueterias)
                                    {
                                        <option value="@paqueteria.NombrePaqueteria">@paqueteria.NombrePaqueteria</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fechaEnvioInput" class="form-label">Fecha de envío:</label>
                                <input type="date" class="form-control" id="fechaEnvioInput" name="FechaEnvio">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" onclick="validar()">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function abrirModalEditar(btnEditar) {
        var pedidoId = btnEditar.getAttribute("data-id");
        var fechaPedido = btnEditar.getAttribute("data-fecha");
        var guia = btnEditar.getAttribute("data-guia");
        document.getElementById("pedidoId").value = pedidoId;
        document.getElementById("fechaPedido").value = fechaPedido;
        document.getElementById("guiaInput").value = guia;
        document.getElementById("pedidoIdh6").innerText = pedidoId;
        document.getElementById("fechaPedidoh6").innerText = fechaPedido;
    }
</script>