@model List<TodoParaTuPerro.Models.Pedidos>;

@{
    ViewData["Title"] = "PedidosEnviados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="Pedidos">
                <i class="bi bi-grid"></i>
                <span>Pedidos sin enviar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="PedidosEnviados">
                <i class="bi bi-grid"></i>
                <span>Pedidos enviados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="PedidosCompletados">
                <i class="bi bi-grid"></i>
                <span>Pedidos completados</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="" asp-controller="Paqueteria" asp-action="Paqueterias">
                <i class="bi bi-grid"></i>
                <span>Paqueterías</span>
            </a>
        </li>
    </ul>
</aside>
<main id="main" class="main">
    <div class="container">
        <h1 class="text-center mt-4">Pedidos enviados</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">No. de pedido</th>
                    <th scope="col">Fecha del pedido</th>
                    <th scope="col">No. de guía</th>
                    <th scope="col">Paquetería</th>
                    <th scope="col">Fecha de envío</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pedido in Model)
                {
                    <tr>
                        <td>@pedido.IdPedido</td>
                        <td>@pedido.FechaPedido</td>
                        <td>@pedido.NoGuia</td>
                        <td>@pedido.Paqueteria</td>
                        <td>@pedido.FechaEnvio</td>
                        <td>@pedido.FechaEntrega</td>
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarModal"
                                    data-id="@pedido.IdPedido" data-fecha="@pedido.FechaPedido" data-guia="@pedido.NoGuia"
                                    data-paqueteria="@pedido.Paqueteria" data-fechaEnvio="@pedido.FechaEnvio" onclick="abrirModalEditar(this)">
                                Editar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Información</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="ActualizarEntrega">
                            <div class="mb-3">
                                <label for="pedidoInput" class="form-label">No. de pedido:</label>
                                <h6 id="pedidoId"></h6>
                                <input id="pedidoIdInput" name="IdPedido" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="fechaPedidoInput" class="form-label">Fecha del pedido:</label>
                                <h6 id="fechaPedido"></h6>
                                <input id="fechaPedidoInput" name="FechaPedido" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="guiaInput" class="form-label">No. de guía:</label>
                                <h6 id="guia"></h6>
                                <input id="guiaInput" name="NoGuia" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="paqueteriaSelect" class="form-label">Paquetería:</label>
                                <h6 id="paqueteria"></h6>
                                <input id="paqueteriaInput" name="Paqueteria" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="fechaEnvioInput" class="form-label">Fecha de envío:</label>
                                <h6 id="fechaEnvio"></h6>
                                <input id="fechaEnvioInput" name="FechaEnvio" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="fechaEntregaInput" class="form-label">Fecha de entrega:</label>
                                <input type="date" class="form-control" id="fechaEntregaInput" name="FechaEntrega">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function abrirModalEditar(btnEditar) {
        var pedidoId = btnEditar.getAttribute("data-id");
        var fechaPedido = btnEditar.getAttribute("data-fecha");
        var guia = btnEditar.getAttribute("data-guia");
        var paqueteria = btnEditar.getAttribute("data-paqueteria");
        var fechaEnvio = btnEditar.getAttribute("data-fechaEnvio");
        document.getElementById("pedidoId").innerText = pedidoId;
        document.getElementById("fechaPedido").innerText = fechaPedido;
        document.getElementById("guia").innerText = guia;
        document.getElementById("paqueteria").innerText = paqueteria;
        document.getElementById("fechaEnvio").innerText = fechaEnvio;

        document.getElementById("pedidoIdInput").value = pedidoId;
        document.getElementById("fechaPedidoInput").value = fechaPedido;
        document.getElementById("guiaInput").value = guia;
        document.getElementById("paqueteriaInput").value = paqueteria;
        document.getElementById("fechaEnvioInput").value = fechaEnvio;
    }
</script>