@model List<TodoParaTuPerro.Models.Empleados>;

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/administrador.html">
                <i class="bi bi-grid"></i>
                <span>Empleados</span>
            </a>
        </li>
    </ul>
</aside>
<main class="main" id="main">
    <div class="container">
        <h1 class="text-center mt-4">Administración de Empleados</h1>
        <button class="btn btn-primary mt-4 mb-3" data-bs-toggle="modal" data-bs-target="#agregarModal">
            Agregar
            Empleado
        </button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID del empleado</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Rol</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var empleado in Model)
                {
                    <tr>
                        <td>@empleado.IdEmpleado</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Correo</td>
                        <td>@empleado.Rol</td>
                        <td>
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-id="@empleado.IdEmpleado" data-nombre="@empleado.Nombre" data-correo="@empleado.Correo"
                                    data-rol="@empleado.Rol" onclick="abrirModalEditar(this)"
                                    data-bs-target="#editarModal">
                                Editar
                            </button>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#eliminarModal" data-id="@empleado.IdEmpleado" onclick="abrirModalEliminar(this)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal para agregar -->
        <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarModalLabel">Agregar Empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="CrearEmpleado">
                            <div class="mb-3">
                                <label for="nombreInput" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombreInput" name="Nombre">
                            </div>
                            <div class="mb-3">
                                <label for="correoInput" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correoInput" name="Correo">
                            </div>
                            <div class="mb-3">
                                <label for="rolInput" class="form-label">Rol</label>
                                <select class="form-select" id="rolSelect" name="Rol">
                                    <option value="Ventas">Ventas</option>
                                    <option value="Paqueteria">Paqueteria</option>
                                    <option value="Compras">Compras</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="contrasenaInput" class="form-label">Contraseña: </label>
                                <input type="password" class="form-control" id="contrasenaInput" name="Contrasena">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">
                                    Agregar
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Modal para editar -->
        <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarModalLabel">Editar Empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="ActualizarEmpleado">
                            <input type="number" class="form-control" id="idEditInput" name="IdEmpleado" hidden>
                            <div class="mb-3">
                                <label for="nombreEditInput" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombreEditInput" name="Nombre">
                            </div>
                            <div class="mb-3">
                                <label for="correoEditInput" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="correoEditInput" name="Correo">
                            </div>
                            <div class="mb-3">
                                <label for="rolEditInput" class="form-label">Rol</label>
                                <select class="form-select" id="rolEditSelect" name="Rol">
                                    <option value="Ventas">Ventas</option>
                                    <option value="Paqueteria">Paqueteria</option>
                                    <option value="Compras">Compras</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="contrasenaEditInput" name="Contrasena" hidden>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">
                                    Guardar cambios
                                </button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Modal para eliminar -->
        <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarModalLabel">Eliminar Empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar este empleado?</p>
                        <form method="post" asp-action="EliminarEmpleado">
                            <input id="idInputEliminar" name="IdEmpleado" hidden/>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function abrirModalEditar(btnEditar) {
        var id = btnEditar.getAttribute("data-id");
        var nombre = btnEditar.getAttribute("data-nombre");
        var correo = btnEditar.getAttribute("data-correo");
        var rol = btnEditar.getAttribute("data-rol");

        document.getElementById("idEditInput").value = id;
        document.getElementById("nombreEditInput").value = nombre;
        document.getElementById("correoEditInput").value = correo;
        document.getElementById("contrasenaEditInput").value = "1";
        var selectElement = document.getElementById("rolEditSelect");

        for (var i = 0; i < selectElement.options.length; i++) {
            var option = selectElement.options[i];
            if (option.value === rol) {
                option.selected = true;
                break;
            }
        }
    }

    function abrirModalEliminar(btnEliminar) {
        var id = btnEliminar.getAttribute("data-id");
        document.getElementById("idInputEliminar").value = id;
    }
</script>